.Home{
    background-image:url("../IP3-master/assets/backgrounds/h_img.jpg");
    background-size:cover;
    padding: 5%;
    height: 100%;
    text-align: center;
    font-family:'Fira Sans', sans-serif;
}
.Home p{
    margin-top:5% ;
}
#first{
    color: white;
    font-size:300%;
}
#second{
    color: white;
    font-size:300%;
}
#third{
    color: white;
}
#fourth{
    padding-top: 40%;
}
.About{
    text-align:center;
    font-family:'Fira Sans', sans-serif;
    padding: 2%;
}
.Services{
    background-image:url("../IP3-master/assets/backgrounds/s_image.jpg");
    background-size:cover;
    height: 100%;
    padding: 10%;
    text-align: center;
    font-family:'Fira Sans', sans-serif;
}
#portfolio1{
    display:flex;
    flex-direction: row;
    margin-bottom: 2%;
}
.Portfolio{
    text-align: center;
    padding: 2%;
}
.Portfolio h2{
padding: 1%;
}
.Activities{
    text-align: center;
    padding: 5%;
}
.headings{
    padding: 2%;
}
#design{
    display:none;
}
#development{
    display:none;
}
#product{
    display:none;
}
form{
padding: 5%;
}
#Textarea1{
    margin-top: 2%;
}
#contact{
    background-image:url("../IP3-master/assets/backgrounds/c_image.jpg");
    background-size:cover;
    height: 100%;
    padding: 10%;
}
footer{
    text-align: center;
    padding: 2%;
}
#name{
background: transparent;
}
#mail{
background:transparent;
}
#Textarea1{
background:transparent; 
}
.overlay1{
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 4;
    color: white;
    padding-top: 15vh;
    padding-left: 7vw;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-color: white;
}
.overlay2{
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 4;
    color: white;
    padding-top: 15vh;
    padding-left: 7vw;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-color: white; 
}
.overlay3{
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 4;
    color: white;
    padding-top: 15vh;
    padding-left: 7vw;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-color: white;  
}
.overlay4{
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 4;
    color: white;
    padding-top: 15vh;
    padding-left: 7vw;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-color: white;  
}
.overlay5{
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 4;
    color: white;
    padding-top: 15vh;
    padding-left: 7vw;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-color: white;  
}
.overlay5{
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 4;
    color: white;
    padding-top: 15vh;
    padding-left: 7vw;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-color: white;  
}
.overlay6{
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 4;
    color: white;
    padding-top: 15vh;
    padding-left: 7vw;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-color: white;  
}
.overlay7{
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 4;
    color: white;
    padding-top: 15vh;
    padding-left: 7vw;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-color: white;  
}
.overlay8{
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 4;
    color: white;
    padding-top: 15vh;
    padding-left: 1.5vw;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-color: white;  
}
.card-deck{
    margin-bottom: 2%;
}
.text{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.black{
    height: 100%;
    width: 100%;
}