.Home{
    background-image:url("../IP3-master/assets/backgrounds/h_img.jpg");
    background-size:cover;
    padding: 5%;
    height: 100%;
    text-align: center;
    font-family:'Fira Sans', sans-serif;
}
.Home p{
    margin-top:5% ;
}
#first{
    color: white;
    font-size:300%;
}
#second{
    color: white;
    font-size:300%;
}
#third{
    color: white;
}
#fourth{
    padding-top: 40%;
}
.About{
    text-align:center;
    font-family:'Fira Sans', sans-serif;
    padding: 2%;
}
.Services{
    background-image:url("../IP3-master/assets/backgrounds/s_image.jpg");
    background-size:cover;
    height: 100%;
    padding: 10%;
    text-align: center;
    font-family:'Fira Sans', sans-serif;
}
.Portfolio img{
    display:flex;
}
.Activities{
    text-align: center;
    padding: 5%;
}
.headings{
    padding: 2%;
}
#design{
display:none;
}