.Home{
    background:url("/IP3-master/assets/backgrounds/h_img.jpg");
    padding: 15%;
    text-align: center;
}
.Home p{
    margin-top:5% ;
}
#first{
    color: white;
    font-size:300%;
}
#second{
    color: white;
    font-size:300%;
}
#third{
    color: white;
}
#fourth{
    padding: 15%;
}